<h1>List of All Ice Creams</h1>
<ul>
    {{#each ics}}
    <p>IceCream Name: {{name}}</p>
       <p> IceCream Price: {{price}}</p>
      <p> IceCream awesomeness Rating: {{awesomeness}}</p>
       <hr>
    {{/each}}
</ul>